<div fxLayout="row" class="">

  <div fxFlex="10%" fxFlex.md="10%" class="" >
  </div>

  <div fxFlex="80%" fxFlex.md="80%" class="" >
    <div class="prxa-content prxa-content-header-margin prxa-title prxa-center">
      <h3>Open your <strong>PreAxia HSA</strong></h3>
      <label>Choose your business structure</label>
    </div>
  </div>

  <div fxFlex="10%" fxFlex.md="10%" class="" >
  </div>

</div>


<div fxLayout="row" fxLayout.lt-sm="column" class="">

  <div fxFlex="17%" fxFlex.lt-lg="9%" fxFlex.lt-sm="2%" class="" >
  </div>

  <div fxFlex="32%" fxFlex.lt-lg="40%" fxFlex.lt-sm="47%" class="">
    <mat-card class="prxa-card">
      <mat-card-header>
        <mat-card-title>Sole Proprietorship</mat-card-title>
        <mat-card-subtitle>For self-employed and unincorporated businesses.</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="prxa-card-content">
        <p>
          Choose this option if you are self-employed and your business is not incorporated. Managing your HSA is easy and you can submit claims for you or on behalf of your dependents (for example family members).
        </p>
      </mat-card-content>

      <mat-card-actions>
        <div class="card-buttons">
            <!-- <a  mat-button  class="prxa-btn-primary" style="width: calc(100% - 64px + 16px) !important" 
              [routerLink]="['/registration/account', acountType.Individual]">
              <span class="badge">Register</span>
            </a> -->
           <button mat-button  class="prxa-btn-primary" style="width: calc(100% - 64px + 16px) !important" (click)="registerAccount(acountType.Individual)">Register</button>
        </div>

      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="2%" fxFlex.lt-sm="10%" class="" >
  </div>

  <div fxFlex="32%" fxFlex.lt-lg="40%" fxFlex.lt-sm="47%" class="">
      <mat-card class="prxa-card">
        <mat-card-header>
          <mat-card-title>Incorporated Business</mat-card-title>
          <mat-card-subtitle>For incorporated businesses with or without employees.</mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content class="prxa-card-content">
          <p>
            Choose this option if you have an incorporated business. You will be able to manage multiple HSA plans with different contribution limits for your employees. Your employees will be able to sign-in to manage their HSAs and submit claims.
          </p>
        </mat-card-content>
  
        <mat-card-actions>
          <div class="card-buttons">
            <button mat-button class="prxa-btn-primary" style="width: calc(100% - 64px + 16px) !important" (click)="registerAccount(acountType.Corporation)">Register</button>
          </div>
        </mat-card-actions>
      </mat-card>
  </div>

  <div fxFlex="17%" fxFlex.lt-lg="9%" fxFlex.lt-sm="2%" class="" >
  </div>

</div>
