
.prxa-content h3 {
    font-size: 2.2em !important;
    padding-bottom: 0.5em;
    font-family: inherit;
    font-weight: 500;
    margin: 0;
    line-height: 1.2em;
}

.prxa-content strong {
    color: #3e5f93;
    font-weight: 700;
}

.prxa-title {
    margin: 0;
    padding: 1em 0 0.2em 0;
}

.prxa-center {
    text-align: center !important;
}